header{
    
    .mid-header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--variant);

        .hub-link{
            color: var(--on-bg);

            &:hover{
                color: var(--primary);
            }
        }
    }
}