//variables
$box-shadow : 0 5px 20px 1px hsla(0,0%,0%,0.5);

//light-colors
$clr-primary: hsl(0, 100%, 68%);
$clr-variant : hsl(0,100%,59%);
$clr-secondary : hsl(180,70%,35%);
$clr-background : hsl(0,0%,100%);
$clr-on-primary : hsl(0,0%,98%);
$clr-on-bg : hsl(0,0%,26%);
$clr-on-bg-alt : hsla(0,0%,26%,0.7);

//dark-colors
$dkclr-primary: hsl(267, 100%, 63%);
$dkclr-variant : hsl(243,100%,69%);
$dkclr-secondary : hsl(173,97%,43%);
$dkclr-background : hsl(0,0%,7%);
$dkclr-on-primary : hsl(0,0%,0%);
$dkclr-on-bg : hsla(0,0%,100%,0.9);
$dkclr-on-bg-alt : hsla(0,0%,100%,0.7);

//mixins/extensions

@mixin min{
    @media only screen and (min-width: 768px){
        @content;
    }
}
@mixin mobile{
    @media only screen and (max-width: 480px){
        @content;
    }
}
@mixin max{
    @media only screen and (max-width: 768px){
        @content;
    }
}

//functions


//keyframes
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }