.wrapper {
    position: relative;
    max-width: 1920px;
    margin-inline: auto;

    main{

        & > section{
            min-height: 90vh;

            .title-group{
                margin-top: 50vh;
                text-align: center;
                font-weight: bold;

                h1{
                    display: inline-block;
                    border-bottom: 3px var(--variant) solid;
                }

                h2{
                    color: var(--on-bg-alt);
                }
            }


            &#home{
                position: relative;

                .btn-bar{
                    padding-top: 10px;
                }


                .btn-bar a{
                    color: var(--variant);
                    font-size: 24px;
                    line-height: 1;
                    font-weight: 300;
                    position: relative;
                    text-decoration: none;
                    padding-left: 0;
                    transition: ease all 0.3s;
                    font-family: 'Poppins', sans-serif;
                }


                .btn-bar a::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    widows: 0;
                    height: 2px;
                    background: currentColor;
                }

                .btn-bar a:hover{
                    padding-left: 45px;
                }


                .btn-bar a:hover::after{
                    width: 40px;
                }

                .main-image {
                    position: absolute;
                    max-width: 720px;
                    left: 45vw;
                    top: -24vh;
                    z-index: -3;

                    @include max(){
                        left: 15vw;
                        opacity: 0.3;
                    }
                }
            }

            &#skills{

                .image-container {
                    width: 470px;
                    margin-top: 3rem;
                    text-align: center;

                    img{
                        width: 100%;
                    }

                    @include max(){
                        width: 500px;
                        margin-inline: 18%;
                    }
                }

                .skills-container{

                    @include max(){
                        margin-left: -3em;
                    }
                }

                .bullets{
                    width: 200px;
                    margin-top: 12%;

                    ul{
                        list-style: none;
                    }

                    @include max(){
                        color: var(--variant);
                        text-align: center;
                        width: 100%;
                        margin-top: 0;

                        ul {
                            display: inline-block;
                            margin-bottom: 3rem;
                            margin-top: 1rem;
                        }
                    }

                    @include min(){
                        ul li::before {
                            content: "\2689";  
                            color: var(--variant);
                            font-weight: bold; 
                            display: inline-block; 
                            width: 1em; 
                            margin-left: -1em;
                          }
                    }
                }
            }

            .about-me {
                position: relative;
                width: 300px;

                & img{
                    width: 300px;
                    border: 5px solid lightblue;
                    border-radius: 50%;
                    margin-left: -30px;
                }

                & .social-icons{
                    position: absolute;
                    bottom: 1.5%;
                    left: 15%;

                    & a{
                        width: 36px;
                        height: 36px;
                        line-height: 32px;
                        background: transparent;
                        border: 2px solid white;
                        color: #fff;
                        text-align: center;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 5px;
                        transition: ease all 0.35s;
                        transform: scale(1);
                        margin-top: -150px;

                        &:hover{
                            transform: scale(1.1);
                            background: lightblue;
                            color: var(--variant);
                            border-color: var(--variant);
                        }


                        & i{
                            line-height: inherit;
                        }

                        &:nth-child(1){
                            top: 25px;
                         }
                         
                         &:nth-child(2){
                            top: -10px;
                         }
                         
                         &:nth-child(3){
                            top: 25px;
                         }
                        
                    }

                }
                
            }

            .info{
                text-align: center;
                padding-top: 30px;
                width: 300px;
                padding-right: 57px;
                margin-inline: auto;

                & h3{
                    font-weight: 400;
                    font-size: 30px;
                    
                }

                & p{
                    margin: 0;
                    font-size: 16px;
                    
                }

            }

            .about-info{
 
                .info-list{
                    padding-top: 15px;
                                    
                    & ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }

                    & li{
                        padding: 4px 0;
                    }

                    & label{
                        color: var(--on-bg-alt);
                        margin: 0;
                        font-weight: 400;
                        padding-right: 10px;
                    }
                }
            }

            &#port {
                .box1{
                    background: var(--background);
                    padding: 40px;
                    border-radius: 10px;
                    height: 360px;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;

                    &:before{
                        content: "";
                        position: absolute;
                        top: -220px;
                        left: -220px;
                        width: 200px;
                        height: 200px;
                        border-radius: 0;
                        z-index: -1;
                        background: lightblue;
                        transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
                    }

                    &:after{
                        content: "";
                        position: absolute;
                        top: -72px;
                        left: -40px;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        z-index: -2;
                        background-image: linear-gradient(315deg, var(--variant) 0%, var(--primary) 74%);
                        transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.15s;
                    }

                    & .icon{
                        line-height: 60px;
                        font-size: 40px;
                    }

                    &  .content{
                        padding-top: 25px;
                    }

                    & h5{
                        margin-bottom: 30px;
                        font-size: 25px;
                    }

                    &:hover{
                        height: auto;
                    }

                    &:hover:before{
                        top: -72px;
                        left: -40px;
                        border-radius: 50%;
                    }

                    &:hover:after{
                        content: "";
                        width: 120%;
                        left: -10%;
                        top: -10%;
                        height: 120%;
                        border-radius: 0;
                        transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
                    }
                    
                }
            }

        }
    
        & > div{
            margin-inline: 1rem;
        }
        
        @include min(){
            margin-left: 5rem;
        }
    }
    .separated{
        background-image: var(--border-img);
        padding-top: 15px;
        padding-bottom: 15px;
        background-repeat: repeat-x;
        background-size: auto 6px;
        background-position: center;
    }

    #recline{
        position: relative;
        width: 900px;
        left: 50vw;
        transform: translateX(-50%);
    }

    #float {
        position: fixed;
        opacity: 0.7;
        width: 30px;
        bottom: 60px;
        right: 10px;

        &:hover{
            opacity: 0;
            transform: translate(10px, 30px);
            transition: all ease-in-out 1.5s ;
        }
        
        @include min(){
            bottom: 15px;
        }
    }
    
}